body {
  background: #353941;
  font-family: "Ubuntu",sans-serif;
}

.wrapper {
  width: 720px;
  border: 1px solid #ffffff40;
  text-align: center;
  border-radius: 5px;
}

h1 {
  color: #9966FF;
}

h2 {
  color: #FF66FF;
}

p {
  color: white;
  font-size: 26px;
  font-weight: 500;
}

button {
  width: 180px;
  height: 55px;
  color: white;
  background: #90B8F8;
  margin: 20px 10px;
  border: 2px solid #ffffff40;
  font-weight: 600px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: #66FFCC;
    transition: all 1s ease;
    color: #3366FF;
  }
}
